# TODO remove unused packages
torch
torchvision
lightning
hydra-core
omegaconf
numpy
rich
scikit-learn
opencv-python
stringcase
h5py
seaborn
filterpy
zmq
pyransac3d
totalsegmentator
autograd
trimesh
rtree
pycpd
gpustat
StrEnum
SciencePlots
albumentations
imgaug
timm
imgkit
pycocotools
./procrustes # qc-procrustes
ml_collections
shapely
pygifsicle
imageio[ffmpeg]
tensorboard

deepdrr
-e ../perphix # TODO point to git repo

# development
pre-commit
black
flake8
pytest
reorder-python-imports
toml